<div class="k8-example-catalog">
  <div class="js_rec_container rec_container catalog pb-1" data-rec_indexmax="-1">
    <div class="row js_rec_head js_catalog">
      <div class="col-sm-4 mt-3 js_title"><h1>#datadef#name#</h1></div>
      
      <div class="col-sm-8 mt-3">
        <form id="filterform" class="js_filterform" method="GET">
            <input type="hidden" name="datadefID">
            <input type="hidden" name="page">
            <input type="hidden" name="table">
            <input type="hidden" name="headtitlecolumn">
            <input type="hidden" name="headdescriptioncolumn">
            <div class="input-group mt-1" id="searchlineb5">
                <input type="search" class="form-control js_search" placeholder="Search" id="search" name="search" value=""/>
                <div class="input-group-btn">
                  <button type="submit" name="submit" class="js_rec_search btn btn-primary"><i class="bi-search"></i></button>
                  {{control_new}}
                </div>
            </div>
        </form>
      </div>
    </div>
    
    <hr>
    <div class="js_rec_records rec_records"></div>
    <div class="js_rec_foot"></div>
  </div>
</div>