<div class="js_rec_record rec_record" data-keyvalue="{{keyvalue}}" data-rec_index="{{index}}">
  <div class="row">
    <div class="col-sm-8 k8-margin-top-normal k8-margin-bottom-6">
      <h1>{{{{headtitlecolumn}}}}</h1>
      <p>{{datetimecreated}} by {{username}}</p>
      <img class="img-fluid mx-auto d-block m-top-nor" src="{{image_file}}">
      <p><strong>{{{{headdescriptioncolumn}}}}</strong></p>
      <p><strong>{{content}}</strong></p>
    </div>  
    <div class="col-sm-4  k8-margin-bottom-6">
        <div class="k8-padding-side-small">
          <p>this is the sidebar. fill it up with some more content</p>
        </div>  
    </div>  
  </div>    
</div>