<div class="masterdata">
  <div class="headline rec_headbg">
     <div>
        <h1 class="js_title">Title</h1>
     </div>
  </div>

  <div class="k8-flex-table">
    <div class="js_rec_container rec_container" data-rec_indexmax="-1" data-rec_object="">
      <div class="js_rec_head rec_headline k8-flex-table-head k8-flex-row">
          <div class="k8-flex-30-fix recordnew">
            {{control_new}}
          </div>
          <!--
          <div class="k8-flex-100">
            <label class="k8-label-table">no</label>
          </div>
          -->
          {{more_columns}}

          <div class="k8-flex-30-fix">
          </div>
      </div><!--js_rec_head -->

      <div class="js_rec_records rec_records">
          <!-- here all records will be inserted -->
      </div>

      <div class="js_rec_foot rec_foot px-2"></div>

    </div>
  </div>
</div>  